# This is a Docker Compose file for setting up the morphic-stack environment.

version: '3.9'
services:
  morphic:
    build:
      context: .
      dockerfile: Dockerfile
    command: bun dev
    ports:
      - ":3000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - UPSTASH_REDIS_REST_URL=${UPSTASH_REDIS_REST_URL}
      - UPSTASH_REDIS_REST_TOKEN=${UPSTASH_REDIS_REST_TOKEN}
      - OPENAI_API_BASE=${OPENAI_API_BASE:-https://api.openai.com/v1}
      - OPENAI_API_MODEL=${OPENAI_API_MODEL:-gpt-4o-mini}
      - GOOGLE_GENERATIVE_AI_API_KEY=${GOOGLE_GENERATIVE_AI_API_KEY}
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - OLLAMA_MODEL=${OLLAMA_MODEL}
      - OLLAMA_SUB_MODEL=${OLLAMA_SUB_MODEL}
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL}
      - USE_SPECIFIC_API_FOR_WRITER=${USE_SPECIFIC_API_FOR_WRITER}
      - SPECIFIC_API_BASE=${SPECIFIC_API_BASE}
      - SPECIFIC_API_KEY=${SPECIFIC_API_KEY}
      - SPECIFIC_API_MODEL=${SPECIFIC_API_MODEL}
      - ENABLE_SHARE=${ENABLE_SHARE}
      - SERPER_API_KEY=${SERPER_API_KEY}
      - USE_LOCAL_REDIS=${USE_LOCAL_REDIS:-true}
      - LOCAL_REDIS_URL=${LOCAL_REDIS_URL:-redis://redis:6379}
      - SEARXNG_API_URL=${SEARXNG_API_URL:-http://searchxng:8080}
      - SEARCH_API=${SEARCH_API:-searchxng}
    restart: unless-stopped
    depends_on:
      - redis
      - searchxng

  redis:
    image: redis:alpine
    ports:
      - ":6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  searchxng:
    image: searxng/searxng
    ports:
      - ":8080"
    environment:
      - SEARXNG_SECRET=${SEARXNG_SECRET}
      - SEARXNG_BIND_ADDRESS=${SEARXNG_BIND_ADDRESS:-0.0.0.0}
      - SEARXNG_IMAGE_PROXY=${SEARXNG_IMAGE_PROXY:-true}
      - SEARXNG_LIMITER=${SEARXNG_LIMITER:-false}
      - SEARXNG_URL=${SEARXNG_URL:-http://searchxng:8080}
      - SEARXNG_PUBLIC_INSTANCE=${SEARXNG_PUBLIC_INSTANCE:-false}
    volumes:
      - ./searxng-limiter.toml:/etc/searxng
      - ./searxng-settings-mine.yml:/etc/searxng
      - searchxng_data:/data

volumes:
  morphic-data:
  redis_data:
  searchxng_data:
